@charset "UFT-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    text-align: justify;
    margin: 00;
}
nav{
    background-color: rgba(75, 73, 73, 0.829);
    box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.658) ;
    padding: 3px;
}
nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}
nav:hover{
    text-decoration: underline;

}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
main{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
article{
    background-color: lightgray;
    padding: 5px;  
}
article> aside{
    background-color: rgb(146, 142, 142); 
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 00px;
}
footer > p{
    margin: 0;
}
