.item1{
    background-image: url(../img/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right+1.5em;
    background-size: auto;
    background-color: var(--violet);
}
#img_card_roxo{
    border: 2px solid var(--violet-claro);
}
.nome_card_roxo{
    color: var(--light-grayish);
    font-weight: 500;
}
.especificacao_card_roxo{
    font-size: 0.7em;
    color: var( --light-gray);
}
.conteudo_destaque_roxo{
    color: var(--White);
    padding: 0.5em 1em 0.8em 0;
}
@media screen and (min-width:1000px) {
    .item1{
        background-position: top right+3.7em;  
    }
    
}