@charset "UFT-8";

/*CONFIGURAÇÃO GERAL PARA TODAS AS MEDIAS, MODO (ALL)*/

*{
    margin:0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #233eff;
    background-size: contain; /*para preencher tudo*/
    background-repeat: no-repeat; 
}
h1{
    color: white;
    text-shadow:3px 3px 0px #233eff;
    padding: 10px;
}
