@charset "UFT-8";

 @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root{
    --cor-primaria:#000000;
    --cor-segundaria:#ffff;
    --cor--terciaria:#22D4FD;
    --cor-hover:#272727;

    --font-primaria:'Krona One', sans-serif;
    --font-segundaria:'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);    
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link{
    font-family: var(--font-segundaria);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor--terciaria);
}
.apresentacao{
    padding: 5% 15%; 
    display: flex;
    align-items: center; 
    justify-content: space-between;   
}
.apresentacao_conteudo{
    min-width: 500px; 
    display: flex; 
    flex-direction: column;
    gap: 40px; 
}
.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: var(--font-principal);
}
.destaque_titulo{
    color:var(--cor--terciaria);
}
.apresentacao_conteudo_texto{
    font-size: 24px;
    font-family: var(--font-segundaria);
}
.apresentacao_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.apresentacao_links_link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 378px;
    font-family:var(--font-primaria);
    font-size: 20px;
    font-weight: 400;
    padding: 16px;
    color: var(--cor-segundaria);
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor--terciaria);
    text-decoration: none;  
}
.apresentacao_links_link_subtitulo{
    font-family:var(--font-primaria);
    font-size: 24px;
    font-weight: 400;
}
.apresentacao_links_link:hover{
    cursor: pointer;
    background-color: var(--cor-hover);
}
.apresentacao_imagem{
    padding:0% 0% 14% 10%;
}
.rodape{
    color: var(--cor-segundaria);
    background-color: var(--cor--terciaria);
    padding: 24px;
    text-align: center;
    font-family:var(--font-segundaria) ;
    font-size: 24px;
    font-weight: 400;
}