@charset "UFT-8";

 @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffff;    
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #22D4FD ;
}
.apresentacao{
    padding: 5% 15%; 
    display: flex;
    align-items: center; 
    justify-content: space-between;   
}
.apresentacao_conteudo{
    min-width: 500px; 
    display: flex; 
    flex-direction: column;
    gap: 40px; 
}
.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.destaque_titulo{
    color:#22D4FD;
}
.apresentacao_conteudo_texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.apresentacao_links_link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 378px;
    font-family:'Krona One', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 16px;
    color: #F6F6F6;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #22D4FD;
    text-decoration: none;  
}
.apresentacao_links_link_subtitulo{
    font-family:'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.apresentacao_links_link:hover{
    cursor: pointer;
    background-color: #272727;
}
.apresentacao_imagem{
    padding:0% 0% 14% 10%;
}
.rodape{
    color: white;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-family:'Montserrat', sans-serif ;
    font-size: 24px;
    font-weight: 400;
}