@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --font: "Karla", sans-serif;
    --cor-branco:#ffffff;
    --destaque-texto:#f5f5f5e7;
    --cor-cinza:hsl(204, 43%, 93%);
    --cor-cinza_escuro-:hsl(218, 22%, 67%);
    --cor-azul: hsl(179, 62%, 43%);
    --cor-azul-claro:hsla(179, 62%, 43%, 0.705);
    --cor-amarelo:hsl(71, 73%, 54%);
}

body{

    background-color: var(--cor-cinza);
    font-family: var(--font);
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    background-color: var(--cor-branco);
    border-radius: 8px;
    box-shadow: 1px 1px  5px rgba(0, 0, 0, 0.24) ;
}
.primeiro_container{
    grid-column: 1 / span 2;
}
.primeiro_container_titulo{
    font-weight: 700;
    color: var(--cor-azul);
}
.primeiro_container_subtitulo{ 
    font-weight: 500;
    padding: 1.5em 0 0.5em 0;
    color: var(--cor-amarelo);
}
.primeiro_container_texto{
    font-weight: 500;
    color: var(--cor-cinza_escuro-);
    padding: 0.3em 0 0.3em 0;
}
.segundo_container{
    background-color: var(--cor-azul);
    border-bottom-left-radius: 8px;
}
.segundo_container_texto{
    padding: 0.8em 0 1.8em 0;
}
.terceiro_container{
    background-color: var(--cor-azul-claro);
    border-bottom-right-radius: 8px;
}
.terceiro_container_lista{
    list-style-type: none;
}
.terceiro_container_item{
    padding-bottom: 0.3em;
}
.primeiro_container, .segundo_container, .terceiro_container{
    padding: 3em; /*Espaço entre a borda do conteiner e o conteudo*/
}
.segundo_container, .terceiro_container{
    color: var(--cor-branco);
}
.container_subtitulo{
    margin-bottom: 1em;
}
.destaque{
    font-size: 2em;
    padding-right: 0.5em;
}
.destaque_texto{
    font-weight: 300;
    color: var(--destaque-texto);
}
.botao{
    display: block;
    width: 98%;
    padding: 0.8em;
    font-weight: 700;
    color: var(--cor-branco);
    background-color: var(--cor-amarelo);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.144);
    border-radius: 7px;
    text-decoration:none;
    text-align: center;
}
@media screen and (max-width:850px) {
    body{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .container{
        display: flex;
        flex-direction: column;
        margin: 2em 0 2em 0;
        width: 90%; /*define a largura do contêiner para 90% da largura do elemento pai.*/

    }
    .primeiro_container, .segundo_container, .terceiro_container{
        padding: 1.5em; /*Espaço entre a borda do conteiner e o conteudo*/
    }
    .primeiro_container_subtitulo{
        padding-bottom: 1em;
    }
    .primeiro_container_texto{
        display: inline;
        line-height: 1.7em;
    }
    .segundo_container{
        border-radius: 0;
    }
    .primeiro_container{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .terceiro_container{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}