.conteiner_final{
    width: 80%;
    padding-bottom: 2em;
    
}
.caixa_lista{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.conteiner_final_lista{
    list-style-type: none;
    padding: 1.2em 2em 0 0;
    
}
.lista-item{
    display: flex;
    justify-content: space-around;
    padding: 1em 0 1em 0em;
    border-bottom: 1px solid var(--cor-verde-claro);
}
.ultima_lista{
    border-bottom: none;
}
.destaque_item{
    font-weight: 600;
    color: var(--cor-salmao);
}
@media screen and (min-width:1000px) {
    .conteiner_final{
       width: 85%;
       margin-right: 1.9em;
    }
    .destaque_item{
        padding-left: 8em;
        padding-right: 20em;
    }
    
}