.conteiner{
    width: 80%;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--cor-verde-claro) ;
}
.conteiner_lista{
    padding-left: 1.5em;
}
.conteiner_item{
    padding: 0 0 1em 1em;
}
.topico_lista_destaque{
    color: var(--cor-marrom);
}
@media screen and (min-width:1000px) {
    .conteiner{
        width: 85%;
        padding-bottom: 2em;
        margin: 0 2.5em 1em 0;

    }
    
}