.aside{
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 6em;
    padding: 5.5em 2em 0 2em;

    background-image: url(../img/bg-section-top-mobile-1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;

}
.aside_conteiner{
    display: grid;
    justify-items: flex-start;
    width: 190px;
}
.img_aside{
    width: 30px;
}
.tamanho_span{
    font-size: 3.5rem;
    font-weight: 600;
}
.texto_aside{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--cinza_escuro);
}
.texto_aside_center{
    text-align: center;
    padding: 0 3em 0 3em;
    margin-bottom: 8em;
}
@media screen and (min-width:1000px){
    .aside{
        display: flex;
        justify-content: center;
        gap: 23em;
        padding: 6.5em 2.5em 20em 2.5em;

        background-image: url(../img/bg-section-top-desktop-1.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    .aside_conteiner{
        width: 260px;
    }
    .img_aside{
        width: 40px;
    }
    .texto_aside{
        font-size: 1.2rem;
    }
   .texto_aside_center{
        padding:0;
        margin-bottom: 0;
   }
   .tamanho_span{
    font-size: 5rem;
    font-weight: 600;
    }
    .aside_mensagem, .aside_comunidade{
        padding: 0 1rem 0 1rem;
    }
    
}