
.conteiner_main{
    display: grid;
    justify-items: center; 
    padding: 2em 2em 1em 2em;
}
.img_main{
    width: 220px;
}
.titulo_main{
    padding: 3em 0 0.5em 0;
    font-size: 1.2rem;
}
.texto_main{
    font-size: 0.8rem;
    line-height: 1.5em;
    text-align: center;
}
.primeiro_conteiner{
    background-color: var(--cinza_claro);
    padding-bottom: 3em;
}
.segundo_conteiner{
    padding: 10em 2em 15em 2em;
    background-image: url(../img/bg-section-bottom-mobile-1.svg), url(../img/bg-section-top-mobile-2.svg);
    background-size: 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center bottom ;
}
.terceiro_conteiner{
    background-color: var(--cinza_claro);
    padding-bottom: 5em;
}
.quarto_conteiner{
    padding: 12em 0 12em 0;
    background-image: url(../img/bg-section-bottom-mobile-2.svg), url(../img/bg-footer-top-mobile.svg);
    background-size: 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom center;
}
.quarto_titulo{
    text-align: center;
    padding-bottom: 1.5em;
}
@media screen and (min-width:1000px) {
    .conteiner_main{
        padding: 4em 2.5em 2em 2.5em;
    }
    .img_main{
        width: 500px;
    }
    .titulo_main{
        font-size: 2rem;
    }
    .texto_main{
        text-align: start;
        font-size: 1rem;
        width: 100%;
    }
    .primeiro_conteiner, .terceiro_conteiner{
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-evenly;
        gap:6em;
        padding-bottom: 2em;
    }
    .segundo_conteiner{
        display: flex;
        justify-content: space-evenly;
        gap:6em;

        padding: 18em 2em 20em 2em;
        background-image: url(../img/bg-section-bottom-desktop-1.svg), url(../img/bg-section-top-desktop-2.svg);
    }
    .quarto_conteiner{
        padding: 22em 0 22em 0;
        background-image: url(../img/bg-section-bottom-desktop-1.svg), url(../img/bg-footer-top-desktop.svg);
    }
    .quarto_titulo{
        font-size: 2rem;
    }

}