.rodape{
    background-color: var(--azul_escuro);
    padding: 2em 2em 2em 2em;
}
.titulo_rodape{
    font-weight: 500;
    color: var(--cinza_claro);
}
.conteudo_rodape{
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--cinza_claro);
    line-height: 1.5em;
    padding: 1em 0 1.5em 0;
}
.campo{
    width: 310px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--cinza_claro);
}
.rodape_conteiner_botao{
    display: flex;
    justify-content: flex-end;
    padding: 0.8em 0 4.5em 0;
}
.rodape_botao{
    background-color: var(--Pink);
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    color: var(--cinza_claro);
    width: 140px;
    border-radius: 5px;
    padding: 0.7em 0 0.7em 0;
}
.rodape_botao:hover{
    background-color: var(--rosa_claro);
}
.conteiner_rodape{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.img_rodape{
    width: 30px;
    height: 30px;
}
.huddle{
    font-size: 2rem;
    font-weight: 700;
    color: var(--cinza_claro);
}
.segundo_conteud_rodape{
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--cinza_claro);
    line-height: 1.5em;
    padding: 0.5em 0 1.5em 0;
}
.lista_rodape{
    list-style-type: none;
    padding-top: 1.2em;
}
.conteiner_lista{
    display: flex;
    align-items: center;
    gap: 1em;
    padding-bottom: 1em;
}
.texto_lista{
    color: var(--cinza_claro);
}