.conteiner{
    display: grid;
    justify-items: center;
    align-content: flex-end;
}
.conteiner_conteudo{
    width: 340px;
    padding: 3em 0 3em 0;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.034);
}
.conteiner_titulo{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.conteiner_botao{
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
}
.botao{
    width: 200px;
    background-color: var(--pink);
    font-family: var(--font-open);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 1.2em;
    border-radius: 1.6em;
    box-shadow: 0px 4px 4px 4px  rgba(0, 0, 0, 0.068);
}