.conteiner_footer{
    background-color: var(--azul_escuro);
    font-family: var(--font-open);
    color: white;
    padding: 5em 0 3em 0;
}
.footer_titulo{
    padding: 1em 0 1em 2.5em;
}
.item_lista_footer{
    padding-bottom: 2em;
}
.img_footer{
    padding: 0 1em 0 2em;
}
.img_footer, .footer_lista_conteudo{
    display: inline-block;
}
#conteudo_footer_especial{
    width: 300px;
}
#location{
    padding-bottom: 3.6em;
}
.lista_icon{
    padding:1em 0 0.4em 1.6em;
    font-size: 1.2rem;
    font-weight: 500;
}
.footer_conteudo{
    padding-top: 2em;
    text-align: center;
}