@charset "UFT-8";

@import url(styles/header.css);


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    
}

:root{
    --cor-fundo:#EBECEE;
    --cor-cabecalho:#FFFFFF;
    --cor-titulo:#EB9B00;
    --cor-azul:#002F52;
    --font-padrao: 'Poppins', sans-serif;

}

body{
    background-color: var(--cor-fundo);
   
}
