.banner{
    background-color: var(--cor-azul);
    color: var(--cor-branco);
    text-align: center;
    padding: 2.5em 2em;
}
.banner_titulo{
    font-weight: 700;
    font-size: 1.20rem;
}
.banner_texto{
    font-weight: 500;
    margin: 1em 0;
}
.banner_pesquisa{
    background-color: transparent;
    border: 1px solid var(--cor-branco);
    color: var(--cor-branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}
.banner_pesquisa::placeholder{
    font-weight: 400;
    font-family: var(--fonte-padrao);
    text-align: center;
    color: var(--cor-branco);
    background: url(../img/Lupa.svg) no-repeat;
    background-position: 1em;
}