.carrossel_titulo{
    color: var(--cor-titulo);
    font-weight: 700;
    text-align: center;
    background-color: var(--cor-branco);
    text-transform: uppercase;
    padding: 1em 0 0.5em 0;
}
.swiper-slide img{
    width: 100%;
}
.swiper-button-prev, .swiper-button-next{ /*Selecionando as setas da lateral do carrosel */
    display: none;
}
.swiper-pagination{
    position: inherit;
    margin:.5em 0;
}
@media screen and (min-width:1024px) {
    .carrossel_titulo{
        font-size: 2em;
    }
    .swiper-pagination{
        margin: 2em 0 3em 0; 
    }
    .swiper{
        width: 60%;
    }
    .swiper-button-prev, .swiper-button-next{ /*Selecionando as setas da lateral do carrosel */
        display: block;
        top: 62%;/*Posicionando as setas do carrossel p ficar no centro */
    }
}

