.contato{
    background-color: var(--cor-branco);
    padding: 1em;
}
.contato_titulo, .contato_texto{
    color: var(--cor-azul);
    font-size: 1rem;
}
.contato_titulo{
    font-weight: 700;
}
.contato_texto{
    font-weight: 300;
    margin: 1em 0;
}
.contato_email{
    padding: 1em;
    border: 1px solid var(--cor-azul);
    border-radius: 24px;
    width: 90%;
    color: var(--cor-azul);
}
.contato_email::placeholder{
    font-family: var(--font-padrao);
    color: var(--cor-azul);
    background: url(../img/Email.svg) no-repeat;
    padding-left: 2em;
}