
.cabecalho_menu-hamburguer{
    width: 48px;
    height: 48px;
    background-image:url(../img/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}
.cabecalho{
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*Quero que o menu se movimente de acordo com o cabeçario*/
}
.opcao{
    display: none;
}
.container{
    display: flex;
    align-items: center;
}
.container_titulo, .container_titulo_negrito{
    display: none;
}
.container_img{
    padding:1em;
}
.container_botao{
    display: none; /*Desaparce com o botão de checked*/
}
.lista_menu{
    display: none;/*some com a lista*/
    position: absolute; /*Quero que o menu se movimente de acordo com o cabeçario*/
    top:100%; /*Posicionando o menu em baixo do cabeçalho*/
    width: 60vw;
}
.container_botao:checked ~ .lista_menu{ /*Se o botão for selecionado vai aparecer a lista menu. O sinal ~, está funcionando como uma "condicional"*/
    display: block;
}
.lista_menu-titulo, .lista_menu-item{
    background-color: var(--cor-cabecalho);
    padding: 1em;
}
.lista_menu-titulo{
    color: var(--cor-titulo);
    font-weight: 700;
}
.lista_menu_titulo, .lista_menu-item:hover{
    cursor: pointer;
}
.lista_menu_link{
    text-decoration: none;
    color: var(--cor-azul);
    text-transform: uppercase;
}

@media screen and (min-width:1024px) {

    .container_titulo, .container_titulo_negrito{
        display: inline-block;
        font-family: var(--fonte-secundaria);
        font-size: 1.8rem;
    }
    .container_titulo{
        font-weight: 400;
    }
    .container_titulo_negrito{
        font-weight: 700;
    }

    .opcao{
        list-style-type: none;
        display: flex;
    }
    .opcao_item{
        padding: 0 1em;
        text-transform: uppercase;
        color: var(--cor-preto);
    }
    .container_img_transpatente{
        display: none;
    }
    .cabecalho_menu-hamburguer{
        display: none;
    }
}