hr{
    margin: 0;
    
}
.rodape{
    padding: 1em;
    background-color: #F9F9F9;
}
.rodape_titulo{
    font-family: var(--font-padrao);
    font-size: 1rem;
    font-weight: 400;
}
.lista_rodape{
    display: none;
}

@media screen and (min-width:1024px) {
    .rodape{
        display: flex;
        justify-content: space-between;
        padding: 2.5em 2em 2.5em 2em;
    }
    .rodape_titulo{
        font-size: 1.5rem;
        font-weight: 400;
    }
    .lista_rodape{
        display: block;
        list-style-type: none;
    }
    .lista_rodape_titulo{
        text-transform: uppercase;
        margin-bottom: 1.5em;
        color: #474646;
    }
    .lista_rodape_item{
        display: flex;
        align-items: center;
        margin:0.8em 0 0.8em  0;
    }
    .lista_link{
        font-family: var(--font-padrao);
        font-size: 1rem;
        font-weight: 400;
        color: #474646;
        text-decoration: none;
        margin-left: 0.6em;
    }
}

@media screen and (min-width:1330px) {
    .rodape{
        padding: 3em 0;
    }
    .lista_rodape{
        border-left: 1px solid var(--cor-cinza);
        padding-left: 1em;
    }
}