@charset "UFT-8";

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --cor-fundo:#00030C;
    --cor-primeira:#FFFFFF;
    --cor-segundaria:#C0C0C0;
    --cor-terciarira:#F9F9F9;
    --cor-botao:#167BF7;

    --font-principal:'Inter', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-primeira);
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 400;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    align-items: center; /* Neste caso, o conteúdo fica alinhado de acordo com os 50%, separado pelo grid */
    
}
.container_fundo{
    background-image: url(/alura-plus/assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.apresentacao{
    margin: 0 6em;  
}
.apresentacao_titulo{
    font-size: 1.75rem;
    font-weight: 700;
}
.apresentacao_botao_azul{
    display: block;
    text-decoration: none;
    color: var(--cor-primeira);
    background-color: var(--cor-botao);
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
}
.botao{
    background-color: transparent;
    border: 2px solid var(--cor-primeira);
}
.apresentacao_aviso{
    font-size: 0.75rem;
    color: var(--cor-segundaria);
}
.container_apresentacao{
    margin-left: 10%;
}
.apresentacao_caixa{
    margin: 0 10em;
}
.apresentacao_img{
    width: 80%;
    margin: 1em 0 2em 0;
}
.apresentacao_subtitulo{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.1em;
}
.apresentacao_conteudo{
    color: var(--cor-segundaria);
    font-weight: 400;
}
.terceiro_botao{
    margin-top: 1em;
    width: 160px;
    padding: 0.8em;
    text-align: center;
}
.dispositivos_titulo{
    font-size: 3rem;
    color: var(--cor-primeira);
}
.dispositivos{
    text-align: center;
    margin-top: 2.5em;
}
.dispositivos_lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.litem_lista{
    font-size: 2rem;
    color: var(--cor-primeira);
}
.rodape{
    text-align: center;
    margin-bottom: 5em;
}
.rodape_img{
    margin: 6em 0 2em;
}
.rodape_lista{
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    margin-bottom: 2.5em;
}
.lista_link{
    text-decoration: none;
    font-size: 1rem;
    color: var(--cor-primeira);
}
.lista_link:hover{
    color: var(--cor-botao);
}
.rodape_texto{
    font-size: 0.87rem;
    text-align: center;
    color: var(--cor-segundaria);
    margin-bottom: 1.5em;
    padding: 0 4em 0 4em;
}
