.footer{
    background-color: var(--cor-rodape);
    display: grid;
    grid-template-rows: 40% 40% 20%;
    align-items: center;
    justify-items: center;
    gap: 2em;
    margin-top: 3em;
    padding-bottom: 4em;
}
.footer_icon{
    width: 15%;
}
.terceira_lista{
    color: var(--cinza_escuro);
    list-style-type: none;
    text-align: center;
}
.terceiro_item_ista{
    padding-bottom: 1.2em;
}
.quarta_lista{
    list-style-type: none;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 2em;

    font-weight: 500;
}