.conteiner_main{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    justify-items: center;
    gap: 2em;
    margin-top: 16em;
}
.main_titulo{
    color: var(--cinza_escuro);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 1.5em 0.7em 1.5em;
}
.segundo_conteiner_main{
    padding-top:2.5em; /*Espaço entre a segunda section do main e a imagem*/
}
.terceiro_conteudo_main{
    padding: 3em 2em 4em 2em;
}
.conteudo_main{
    padding: 0 2em 2.8em 2em; /*Espaçamento entre os textos*/
}
.main_img_computador, .main_img_desktop{
    width: 85%;
}
.primiera_lista, .segunda_lista{
    list-style-type: none;
}
.primeiro_item_lista{
    padding-bottom: 3em; /*Espaço entre as listas*/
}
.primeiro_item_img{
    padding-bottom: 2em; /*Espaço entre o icon da lista e o texto*/
}
.segunda_lista{
    padding: 4em 0 2.5em 0;
}
.segundo_item_lista{
    padding-bottom: 3em;
}
.segundo_img_lista{
    width: 150px;
}
.conteiner_segundo_botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding: 1.7em 0 1em 0;
}
.segundo_botao{
    width: 300px;
    color: #f0f0f0;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding: 0.8em;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.068);
}
@media screen and (min-width:1250px) {
    .conteiner_main{
        margin-top: 12em;
    }
    .conteudo_flex{
        width: 680px;
    }
    .conteiner_flex{
        display: flex;
        justify-items: flex-start;
        gap: 5em;
    }
    .segundo_conteiner_main{
        padding: 4em 0 0 0;
    }
    .main_img_computador{
        width: 700px;
       
    }
    .titulo_flex{
        padding-left: 0;
    }
    .section_flex{
        width: 350px;
        text-align: start;
        padding: 0 0 2.8em 0;
    }
    .terceiro_conteiner_main{
        padding-top: 2em;
    }
    .terceiro_flex{
        width: 500px;
    }
    .terceiro_conteiner_main{
        display: grid;
        justify-items: center;
    }
   .primiera_lista{
        display: flex;
        align-items: center;  
        gap: 1em;  
   }
   .primeiro_item_lista{
        width: 360px;
   }
   .espaço_especifico{
     padding-top: 0.6em;
   }
   .quinto_conteudo{
     width: 620px;
     padding: 0.5em 0 1em 0;
   }
   .segunda_lista{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap:2em; 
     margin-top: 1em;
   }
   .conteiner_segundo_botao{
     flex-direction: row;
     justify-content: center;
   }
}